main {
  height: max-content;
  width: 100%;
}

.home-section-wrapper {
  width: 100%;
  height: 650px;
  overflow: hidden;
  padding: 0 20px;
  display: flex;
  justify-content: start;
  align-items: center;

}

.home-img-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 30px;
}

.image-back-container {
  height: 90%;
  width: 90%;
  max-width: 400px;
  max-height: 500px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  

}

.home-img-container > img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  position: relative;
  bottom: 20px;
}

.home-page-header {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}


.gooey{
  background-image: linear-gradient(120deg, #ffee07 0%, #ff0000 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 100%; height: 100%;
  animation: morph 3s linear infinite; 
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}
.gooey:before,
.gooey:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0; top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg, rgb(0, 153, 255) 0%, rgb(51, 0, 255) 100%);
}

.gooey:before{
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 1.5s;
}

.gooey:after{
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .89;
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }
}

.home-main-header {
  color: white;
}

.home-main-header1 {
  height: 50%;
  font-size: 60px;
  position: relative;
  bottom: 50px;
}

.home-main-header2 {
  height: 20px;
  font-size: 20px;
  color: rgba(0, 255, 0, 0.966);
  position: relative;
  bottom: 50px;
  margin-bottom: 15px;
}

.download-resume {
  width: 100px;
  height: 40px;
  background-color: rgb(65, 89, 247);
  outline: none;
  border: none;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(73, 82, 255, 0.719);
  transition: all 0.5s ease-in;
  position: relative;
  bottom: 20px;
}

.home-main-header1::after {
  content: "";
  display: block;
  height: 150%;
  width: 5px;
  background-color: #5d00ff;
  position: absolute;
  left:100%;
  top: 5px;
  opacity: 0;
  animation: blinker 1s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 1;
  }
}

@media (width <= 1200px) {
  .home-section-wrapper {
    flex-direction: column;
  }

  .home-section-wrapper {
    height: 500px;
  }
  .home-img-container {
    width: 100%;
    height: 50%;
  }
  .image-back-container{
    height: 80%;
    width: 80%;
  }

  .home-page-header {
    width: 100%;
    height: 50%;
  }

  .home-main-header1 {
    font-size: 40px;
  }

  .home-main-header2 {
    font-size: 13px;
  }
}
