.study-section {
  width: 100%;
  height: 700px;
  padding: 0 20px;
}

.study-section-mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;

}

.about-me-container h1 {
  width: 100%;
  height: 10%;
  color: rgb(0, 255, 13);
  display: flex;
  justify-content: start;
  align-items: center;

}

.about-me-card {
  width: 100%;
  max-width: 400px;
  height: 90%;
  border: 1px solid rgba(255, 255, 255, 0.381);
  border-radius: 20px;
  padding: 10px;
  background: rgb(13, 2, 133);
  /* backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-image-container {
  height: 50%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in;
  cursor: pointer;
  border-radius: 20px;
}

.card-image:hover {
  transform: scale(1.1);
}

.about-me-p-container {
  width: 100%;
  height: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-p-container p {
  color: white;
  font-size: 14px;
  text-align: justify;
  text-align-last: left;
}

.card-about-name {
  color: rgb(87, 98, 255);
  font-weight: bold;
}

.study-container {
  height: 100%;
  width: 70%;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.study-items {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: start;
  flex-wrap: wrap;
  gap: 20px;
}

.study-card {
  width: 400px;
  min-width: 300px;
  height: max-content;
  min-height: 125px;
  border: 1px solid rgba(255, 255, 255, 0.381);
  border-radius: 10px;
  background: rgba(99, 99, 99, 0.265);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.study-card h2 {
  height: 30%;
  width: 100%;
  font-size: 15px;
  color: rgb(0, 255, 0);
}

.study-card p {
  height: 65%;
  width: 100%;
}

.study-container h1 {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 15px;
  font-size: 25px;
  margin: 0 auto;
}

.study-card:hover,
.about-me-card:hover {
  transform: translateY(-10px);
}

@media (width <= 900px) {
  .study-section {
    height: 1100px;
  }
  .study-section-mainDiv {
    flex-direction: column;
  }

  .about-me-container {
    height: 50%;
    width: 100%;
  }
  .study-container{
    width: 100%;
    height: 50%;
  }
}
