@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height:100%;
    width:100%;
    background-color: black;
    min-width:300px;
    min-height: 400px;
    max-width:1500px;
    margin: auto;
}

#root{
  height: 100%;
  width:100%;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}