
nav{
    height:100px;
    width:100%;
}
#nav-container{
    height:70px;
    width:75vw;
    max-width:1000px;
    min-width:200px;
    margin:10px auto;
    border:2px solid black;
    border-radius: 45px;
    padding:0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
}

#nav-name-contianer{
    width:25%;
    max-width: 100px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    color:#3e72ff;
    position:relative;
    transition:transform .5s ease-in-out;
    cursor: pointer;
    

}

#nav-name-contianer span{
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out 0.1s;
}
#nav-name-contianer span:hover{
    transform: rotateY(180deg) scale(1.3);
}

#navigation-container > h5:hover{
    transform:scale(1.1);
}


#navigation-container{
    width:30%;
    max-width: 300px;
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right:10px
}

#navigation-container > h5{
     width:30%;
    height:70%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:white;
    text-transform: capitalize;
    position:relative;
    transition:transform .5s ease-in-out;
    cursor: pointer;
    /* border:2px solid; */
    border-radius: 20px;
}



#navigation-container > h5::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 8px; 
  left: 50%;
  transform: translateX(-50%) scaleX(0); 
  transform-origin: left;
  
  width: 90%;
  height: 2px;
  background: linear-gradient(90deg, #00ff87, #a8ff78);
  border-radius: 2px;
  
  transition: transform 0.35s ease;
  opacity: 0.8;
}

/* Animate the underline on hover */
#navigation-container > h5:hover::before {
  transform: translateX(-50%) scaleX(1);
}



@media ( width <=  1200px ){
    
   
    #nav-container{
        width:95%;
        height:60px;
        justify-content: space-between;
    }

    #nav-name-contianer{
        /* background-color: red; */
        width:30%;
        font-size: 20px;
        right:10px;
        position: relative;
        left:5px;
    
    }

    #nav-name-contianer span{
    }

    #navigation-container{
        width:60%;
        position: relative;
        left:5px;
    }

    #navigation-container > h5{
        font-size: 12px;
    }


}