nav {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo > img {
  height: 60%;
  cursor: pointer;
  border-radius: 50%;
}

.logo > h1 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  user-select: none;
}

#reverse-r {
  display: inline-block;
  color: rgb(91, 125, 236);
}

.navigation {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgb(77, 77, 77);
}

.navigators {
  width: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.navigators::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(113, 111, 111, 0.176);
  position: absolute;
  right: 100%;
  transition: all 0.3s ease;
  z-index: -1;
}

.navigators:hover::before {
  transform: translateX(100%);
}

.resume {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#theme-changer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

#resume-btn {
  padding: 10px 15px;
  width: max-content;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
  font-size: 14px;
}

#resume-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#resume-btn > span {
  height: 100%;
}

/*! nav bar for mobile view */
.navbar-mobile {
  display: none;
  width: 50%;
  height: 100%;
}
#menu-btn {
  width: max-content;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (width <= 1200px) {

  .logo {
    width: 50%;
    justify-content: flex-start;
  }
  .resume {
    display: none;
    width: 50%;
    justify-content: flex-end;
  }
  .navigation {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
}
